%p#notice= notice

%p
  %b Captain email:
  = @team.captain_email
%p
  %b Name:
  = @team.name
%p
  %b League:
  = @team.league.name

= link_to 'Edit', edit_league_team_path(@league, @team)
\|
= link_to 'Back', league_teams_path
