%div.header-box
  %div.title
    = @team.name
  %div.body
    = @league.name + " - "
    = link_to "#{@division.print_time_slot}", [@league, @division]

%div.left-container
  %div.grey-header Roster
  - @team.users.each do |user|
    %p
    = link_to "#{user.name}", user_path(user)
    - if signed_in? and @team.captain_email == user.email
      (Captain)
  - if signed_in? and @team.captain_email == current_user.email
    %p
      = form_tag :action => 'invite', :id => @team.id, :league_id => @league.id, :division_id => @division.id do 
        = text_field_tag "to_invite", nil, class: "text-field"
        = submit_tag "Invite Player", class: "white-button" 

%div.right-container
  %div.grey-header Schedule
  %table
    - @division.get_games_by_team(@team).each do |game|
      %tr
        %td
          = link_to "#{game.opponent(@team).name}", [@league, @division, game.opponent(@team)], :class => 'team-icon'
          = game.game_status


-if current_user == User.find_by_email(@team.captain_email) or (current_user and current_user.admin?)
  = link_to 'Destroy Team', [@league, @division, @team], :method => :delete, :data => { :confirm => 'Are you sure?' }
  \|
  = link_to 'Edit Team', edit_league_division_team_path(@league, @division, @team)
