%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email

%p
  %b Teams:
  - @user.teams.each do |team|
    = link_to "#{team.name}", [team.division.league, team.division, team]

- if (@invites)
  - @invites.each do |invite|
    %p Invitation to join #{Team.find(invite.team).name}
    = form_tag :controller => 'teams', :action => 'add_member', :id => Team.find(invite.team).id, :user_id => @user.id, :invite_id => invite.id do
      = submit_tag "Accept invitation to join #{Team.find(invite.team).name}"
    = form_tag :controller => 'teams', :action => 'dismiss_invite', :id => Team.find(invite.team).id, :user_id => @user.id, :invite_id => invite.id do
      = submit_tag "Dismiss invitation to join #{Team.find(invite.team).name}"
- if (@notifications)
  - @notifications.each do |notification|
    = link_to "The schedule for your team #{notification.team.name} has changed.", [notification.game.division.league, notification.game.division, notification.game]
  = form_tag :controller=> 'users', :action => 'clear_notifications', :id=>@user.id do
    = submit_tag "Remove all read notifications"

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', root_url
