%head
.div-padding-container
.league-box
  %b League:
  = @division.league.name
%p
  %b Name:
  = @division.name

= link_to '<-', league_division_path(league_id: @league, division_id: @division, update_schedule: "prev", gameday_shown: @gameday)
= @gameday
= link_to '->', league_division_path(league_id: @league, division_id: @division, update_schedule: "next", gameday_shown: @gameday)

- @games_to_show.each do |game|
  %p
    = link_to "#{game.team1.name}" + " vs. " + "#{game.team2.name}", [@league, @division, game]

- if signed_in?
  = link_to "Create Team", new_league_division_team_path(@league, @division)

- if signed_in? and current_user.admin?
  = link_to 'Edit', edit_league_division_path(@division)
\|
= link_to 'Back', @league

- if signed_in? and current_user.admin?
  = link_to 'Destroy', [@league, @division], :method => :delete, :data => { :confirm => 'Are you sure?' }
