#userbar
  .user-bar IM Sports
  %tr
    - if signed_in?
      %td= link_to "#{current_user.name}", current_user
      %td= link_to 'Sign out', signout_path, :method => :delete
    - else
      .sign.register
        %td= link_to 'Log in', signin_path, :id => "signin"
        %td= link_to 'Register', signup_path, :id => "register"
